.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}
.modal-wrapper .modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #fff;
  z-index: 10001;
}